// Tiny Slider
$estate-dot-size:                        12px !default;
$estate-dot-spacing:                     5px !default;
$estate-controls-outer-offset:           100px !default;

$estate-color-regular:                   rgba(0,0,0,.6) !default;
$estate-color-regular-active:            rgba(0,0,0,1) !default;
$estate-color-invert:                    rgba(255,255,255,.6) !default;
$estate-color-invert-active:             rgba(255,255,255,1) !default;
$estate-color-extra:                     rgba($primary,.6) !default;
$estate-color-extra-active:              rgba($primary,1) !default;